<form #inputForm="ngForm" (ngSubmit)="submit()">
  <div class="input-group mb-3">
    <input
      #urlinput="ngModel"
      type="url"
      class="form-control"
      placeholder="Please enter your url"
      aria-label="url"
      aria-describedby="button-addon2"
      name="url"
      pattern="https://.*"
      [(ngModel)]="contentBody.longUrl"
      required
    />
    <button class="btn btn-outline-primary" type="submit">Generate</button>
  </div>
  <div class="alert alert-primary" role="alert" *ngIf="!urlinput.valid">
    Please enter a Valid URL
  </div>
</form>
